body {
    margin: 0;
}

body, html {
    height: 100%;
}

.bar_part {
	overflow: hidden;
	height: 100%;
    width: 80px;
    position: fixed;
    padding: 0;
	margin: 0;
    background: #346137;
}

.upload_icon {
	position: absolute;
    width: 50px;
    height: 50px;
    top: 3%;
    left: 15px;
}

.option_icon {
	position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 20px;
}

.view_part {
	overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 80px;
}

.info_area {
	position: absolute;
	width: 40%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: url(../web_img/background_img.png);
	background-size: 100% 100%;
}

.info_text {
	position: absolute;
	width: 80%;
	height: 100%;
	left: 10%;
	background-color:rgba(220,220,220,0.8);
}

.right_area {
	position: absolute;
	width: 60%;
	height: 100%;
	left: 40%;
	padding: 0;
	margin: 0;
	background-color: rgba(220,220,220,0.8);
}

.drag_area {
	position: absolute;
    width: 100%;
    height: 40%;
    top: 30%;
    padding: 0;
    margin: 0;
    background: #29c18e;
    z-index: 2;
}

.show_area {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
	padding: 0;
	margin: 0;
	background: white;
	z-index: 1;
}

.pre_text {
    font-family: Century Gothic, Futura, Verdana;
    width: 100%;
    font-size: 24pt;
    text-shadow: 1px 1px 2px #666666;
    color: #346137;
}

.welcome_text {
    font-family: Century Gothic, Futura, Verdana;
    font-size: 42pt;
    width: 100%;
    text-shadow: 1px 1px 2px #666666;
    color: #346137;
}

.option_icon, .show_area, .upload_icon:hover {
    cursor: pointer;
}
