<!DOCTYPE html>
<html>
<head>
    <title>Image Onlne Classifier</title>
    <link href = "{{ url_for('static', filename= './css/upload_v1.css') }}" type = "text/css" rel = "stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./web_img/icon.png') }}">
    <link href="{{ url_for('static', filename= './css/loading.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='./js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/loading_others.js') }}"></script>
<!--     <script src="{{ url_for('static', filename='./js/drag.js') }}"></script> -->
    <script src="{{ url_for('static', filename='./js/onebutton.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
</head>
<body>
    <div id = "loading">
        <div class='loader loader2'>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id = "show_part" style="display: none;">
        <div class = "bar_part">
            <div class = "upload_icon">
                {% if uid == "" %}
                    <form style="display: none;" id="form_img" action="/{{ action_opt }}" method="post" enctype="multipart/form-data">
                {% else %}
                    <form style="display: none;" id="form_img" action="/{{ action_opt }}/id={{ uid }}" method="post" enctype="multipart/form-data">
                {% endif %}
                    <input type="file" name="file" id="uploadfile" />
                </form>
                <img src="{{ url_for('static', filename= './web_img/upload_icon.svg') }}" width="100%" height="100%" id = "upload_display"/>
            </div>
            <div class="progress" style="display: none;">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
            </div>
            <div class = "option_icon">
            {% if uid == "" %}
                <a href = "/">
                    <img src="{{ url_for('static', filename= './web_img/home.svg') }}" width="100%" height="100%" />
                </a>
            {% else %}
                <a href = "/id={{ uid }}">
                    <img src="{{ url_for('static', filename= './web_img/home.svg') }}" width="100%" height="100%" />
                </a>
            {% endif %}
            </div>
            {% if uid == "" %}
            <div class = "user_state">
                <a href="/login"><p>Login</p></a>
                <a href="/sign_up"><p>Sign Up</p></a>
            </div>
            {% else %}
            <div class = "history">
                <a href="/login/id={{ uid }}">
                    <img src="{{ url_for('static', filename= './web_img/history.svg') }}" width="100%" height="100%" />
                </a>
            </div>
            {% endif %}
        </div>
        <div class = "view_part">
            <div class = "info_area">
                <div class= "info_text">
                    <p id = "cate"><b>17 categories</b></p>
                    {% if flag == "success" %}
<!--                         <p class = "pre_text">This is a image of <a href = "https://www.baidu.com/s?wd={{ info[0]['name'] }}" class = "Dlink" target="_blank">{{ info[0]['name'] }}</a></p>
                        <hr /> -->
                        <p class = "pre_text">This is a image of <a href = "https://www.google.com.hk/search?q={{ info[0]['name'] }}" class = "Dlink" target="_blank">{{ info[0]['name'] }}</a></p>
                        <hr />
                    <p style= "font-size:15px;"><b>This is the possibility of the first five classification:</b></p>
                    <table border="1" width= "100%">
                        <tr><th>Name</th><th>Accuracy</th></tr>
                    {% for per_info in info %}
                        <tr><td>{{ per_info['name'] }}</td><td>{{ per_info['acc'] }}</td></tr>
                    {% endfor %}
                    </table>
                    {% else %}
                        <p class = "welcome_text" style = "text-align:center;">Welcome to the online image classification website!</p>
                        <hr />
                        <p style= "font-size:20px;">Please click the upload icon to select a image of flower.</p>
                    {% endif %}
                </div>
            </div>
            <div class = "right_area">
                <div class= "show_area" id = "show">
                    {% if uid == "" %}
                        <form style="display: none;" id="left_form_img" action="/{{ action_opt }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" id="uploadfile_left" />
                        </form>
                    {% else %}
                        <form style="display: none;" id="left_form_img" action="/{{ action_opt }}/id={{ uid }}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" id="uploadfile_left" />
                        </form>
                    {% endif %}
                {% if flag == "success" %}
                    <img src="{{ upload_pa }}" width="100%" height="100%" alt="please upload img～" id = "upload_background"/>
                {% else %}
                    <img src="{{ url_for('static', filename= './web_img/upload_background.png') }}" width="100%" height="100%" id = "upload_background"/>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>